.row.my-4
  - if defined? title
    .col-12.mb-2
      %h3= title

  - posts.each do |post|
    .col-md-4.mb-3
      = link_to post.link, class: 'card w-100 post_block_link bg-transparent border-0' do

        = image_tag post.cover_link, alt: post.title, class: 'card-img-top cover'

        .card-body
          %span.text-muted
            = "#{format_date(post.created_at)} - #{post.origin.to_s.titleize}"
          
          %h5.card-title
            = post.title
          
          %p.card-text
            = post.description

  %hr.my-5
