.row.my-4
  - if defined? title1
    .col-12.mb-2
      %h3
        = title1
      
        - if defined? title2
          %span.text-primary= title2

  - posts.each do |post|
    .col-md-4.mb-3
      .card.w-100.h-100.card-post.bg-transparent.border-0

        = link_to post.link, class: 'w-100 post-link' do
          %img.card-img-top.cover{'data-src': post.cover_link, alt: post.title}

        .card-body
          .post-data
            %span.text-muted
              = "#{format_date(post.created_at)} - #{post.origin.to_s.titleize}"
            
            %h5.card-title
              = link_to post.link, class: 'post-link' do
                = post.title

            %p.card-text
              = post.description

          .mb-2
            = render 'home/share', post: post

  %hr.my-5
