!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/

    %title The Will

    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}/

    = csrf_meta_tags
    = csp_meta_tag

    = stylesheet_pack_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'

  %body
    = render 'layouts/navigation/navbar'

    #main-content.container.py-5
      = yield

    %footer.w-100.bg-dark.text-light.py-5.px-3
      .container.text-center
        = "The Will #{Time.now.strftime('%Y')} -" 
        Desenvolvido por
        = link_to 'Wilfison', 'https://github.com/Wilfison', target: '_blank'

